[submodule "src/examples"]
	path = src/examples
	url = https://github.com/ros2/examples
[submodule "src/image_transport_tutorials"]
	path = src/image_transport_tutorials
	url = https://github.com/ros-perception/image_transport_tutorials.git
[submodule "src/realsense-ros"]
	path = src/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git
